aside {
    position: fixed;
    float: left;
    padding-top: 50px;
    width: 200px;
    z-index: 999;
    text-align: right;

    .logo {
        margin-bottom: 20px;
        width: 80px;
        display: inline-block;
    }
}


section {
	padding: 90px 0px;
}

.grid-example {
	column {
		> div {
			padding: 5px;
			text-align: center;
			background: #eee;
		}
	}
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: auto;

	.content {
		width: auto;
		padding-left: 60px;
		margin-left: 60px;
		border-left: 1px solid #E0E0E0;
		padding-top: 40px;
	}
}