/* Alinear texto aa la izquierda */
.left {
	text-align: left;
}

/* Alinear texto a la derecha */
.right {
	text-align: right;
}

/* Alinear texto al centro */
.center {
	text-align: center;
}

/* Flotar a la izquierda */
.float-left {
	float: left;
}

/* Flotar a la derecha */
.float-right {
	float: right;
}

/* Alinear verticalmente */
.valign-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	}

	.valign { display: block; }



/* Separadores */
.separator {
	width: 100%;
	height: 1px;
	margin: 20px 0px;
	display: inline-block;
}



/* Lineas de división*/
.line {
	border-top: 1px solid #ccc;
	clear: both;
	display: block;
	height: 1px;
	margin: 20px 0px;
	width: 100%;
}
	/* Linea con guiones */
	.line.--dashed {
		border-top: 1px dashed #ccc;
	}

	/* Linea punteada */
	.line.--dotted {
		border-top: 1px dotted #ccc;
	}

	/* Linea doble */
	.line.--double {
		border-top: 1px double #ccc;
	}
