// main: ../styles.less



/*  L I S T S
------------------------------------------------------------------ */
ul.list {
    margin: 0px;
    padding: 0px;

	li {
        margin-left: 0px;
        list-style: none;

        icon {
            margin: -2px 5px 0 0;
        }
    }

    //  MODIFIERS
    &.is--circle li {
        margin-left: 20px;
        list-style: disc;
    }

    &.is--decimal li {
        margin-left: 15px;
        list-style: decimal;
    }

    &.is--square li {
        margin-left: 15px;
        list-style: square;
    }

    &.is--alpha li {
        margin-left: 15px;
        list-style: upper-alpha;
    }

    &.is--roman li {
        margin-left: 15px;
        list-style: upper-roman;
    }

}
